<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilovesshan.wjhs.mapper.AccountMapper">

    <insert id="insert">
        insert into
            `wjhs`.`account` (`id`, `user_type`, `user_id`, `balance`, `is_delete`)
        values
            ( #{ id },  #{ userType },  #{ userId },  #{ balance }, #{ isDelete })
    </insert>

    <update id="updateMoneyWithDecrement">
        update `wjhs`.`account` set balance = balance - #{ balance } where user_id = #{ userId }
    </update>

    <update id="updateMoneyWithIncrement">
        update `wjhs`.`account` set balance = balance + #{ balance } where user_id = #{ userId }
    </update>
</mapper>