<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilovesshan.wjhs.mapper.RecycleStatisticalMapper">

    <sql id="allColumns">
        `id`, `order_id`, `submit_user_id`, `receive_user_id`, `weight`, `order_type`, `is_delete`, `create_time`, `update_time`
    </sql>

    <insert id="insert">
        insert into
            `wjhs`.`recycle_statistical` (`id`, `order_id`, `submit_user_id`, `receive_user_id`, `weight`, `order_type`)
        values
            (#{id}, #{orderId}, #{submitUserId}, #{receiveUserId}, #{weight}, #{orderType});
    </insert>

</mapper>