<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ilovesshan.wjhs.mapper.SwiperMapper">

    <sql id="allColumns">
        `id`, `type`, `attachment_id`, `title`, `sub_title`, `detail`, `link`, `is_delete`, `create_time`, `update_time`
    </sql>

    <!-- 通用查询 关联附件-->
    <sql id="commonSelect">
        select
            s.id, s.type, s.attachment_id, s.title, s.detail, s.link, s.sub_title, s.is_delete, s.create_time, s.update_time,
            a.id a_id , a.url, a.create_by_user_id, a.create_by_user_name, a.create_by_user_type, a.is_delete, a.create_time, a.update_time
        from
            swiper s left join attachment a on s.attachment_id = a.id
    </sql>

    <insert id="insert">
        insert into
            `wjhs`.`swiper` (`id`, `type`, `attachment_id`, `title`, `sub_title`, `detail`, `link`)
        values
            (#{id}, #{type}, #{attachmentId}, #{title}, #{subTitle}, #{detail}, #{link});
    </insert>



    <resultMap id="swiperMap" type="com.ilovesshan.wjhs.beans.pojo.Swiper" autoMapping="true">
        <association property="attachment" javaType="com.ilovesshan.wjhs.beans.pojo.Attachment" autoMapping="true">
            <id column="a_id" property="id"/>
        </association>
    </resultMap>

    <select id="selectByConditions" resultMap="swiperMap">
        <include refid="commonSelect" />
        <where>
            <if test="title !=null and title != '' ">
                (s.title like concat('%',#{title},'%') or s.sub_title like concat('%',#{title},'%') or s.detail like concat('%',#{title},'%'))
            </if>
            <if test="beginTime !=null and endTime !=null">
                and (s.create_time between #{beginTime} and #{endTime})
            </if>
            and s.type = #{type} and s.is_delete = '15' and a.is_delete = '15';
        </where>
    </select>

    <select id="selectById" resultMap="swiperMap">
      <include refid="commonSelect" />
        where
            s.id = #{id} and s.is_delete = '15' and a.is_delete = '15';
    </select>

    <update id="update">
        update
            `wjhs`.`swiper`
        <set>
            <if test="type != null and type != '' ">
                `type` = #{type},
            </if>
            <if test="attachmentId != null and attachmentId != '' ">
                `attachment_id` = #{attachmentId},
            </if>
            <if test="title != null and title != '' ">
                `title` = #{title},
            </if>
            <if test="subTitle != null and subTitle != '' ">
                `sub_title` = #{subTitle},
            </if>
            <if test="detail != null and detail != '' ">
                `detail` = #{detail},
            </if>
            <if test="link != null and link != '' ">
                `link` = #{link},
            </if>
        </set>
        where (`id` = #{id});
    </update>



    <delete id="delete">
        update  `wjhs`.`swiper` set is_delete = '14' where id = #{id};
    </delete>


</mapper>