<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilovesshan.wjhs.mapper.WxIntegralMapper">

    <sql id="allColumns">
        `id`, `user_id`, `integral`, `is_delete`, `create_time`, `update_time`
    </sql>


    <insert id="insert">
        insert into
            `wjhs`.`wx_integral` (`id`, `user_id`, `integral`)
        values
            (#{id}, #{userId}, #{integral});
    </insert>


    <update id="updateMoneyWithIncrement">
        update  `wjhs`.`wx_integral` set integral = integral + #{integral} where user_id = #{userId}
    </update>

    <update id="updateMoneyWithDecrement">
        update  `wjhs`.`wx_integral` set integral = integral - #{integral} where user_id = #{userId}
    </update>

    <select id="selectByUserId" resultType="com.ilovesshan.wjhs.beans.pojo.WxIntegral">
        select <include refid="allColumns" />
        from `wjhs`.`wx_integral`
        where user_id = #{ userId }
        and is_delete = '15'
        order by create_time desc
    </select>

</mapper>